.imageWrapper {
  margin-bottom: 10px
}

:global(.ui.image).image {
  width: auto;
  max-width: 150px;
  max-height: 150px; 
}

:global(.ui.segment).editeModeFix {
  margin-bottom: 0;
}

:global(.ui.basic.label).toolbarBtn {
  border: none;
  font-size: 1.5rem;
}

.buttonsBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}