.headerWrp {
  background-color: white;
  padding: 1em 0;
}

.logoutBtn,
.logoutBtn:hover {
  &:global(.ui.icon.button) {
    border: none;
    box-shadow: none;
  }
}

.menuBtn,
.menuBtn:global(.ui.icon.button) {
  color: gray;
  &:hover {
    color: black !important;
  }
}

.statusField{
  display: flex;
  align-items: center;
  margin-top: .5rem;
  .statusText{   
    border: none;
    background-color: white;
  
    &:focus{
      outline:none;
    }
  }
}

.statusIc{
  cursor: pointer;

  &:hover{
    color:green;
  }
}